body{
    background-image: url("assets/images/background-desktop.png");
    
}
.form{
    margin: 0 auto;
    text-align: center;
   
    padding-top: 5px;
  
    
}
.mogo{
    
display: block;
 margin: 0 auto;
  
 

}
#header{
    color:white;
    font-size: 3rem;
    width: 550px;
    padding-left: 480px;
    font-weight: bold;
}
#smaLL{
     color:rgba(255, 255, 255, 0.812);
    font-size: 1.5rem;
    width: 550px;
    padding-left: 480px;
    font-weight: bold;
    margin-top: 0px;
}
.userData{
    margin-top: 50px;
      margin: 0 auto;
      
    color:rgba(255, 255, 255, 0.812);
    font-size: 1rem;
}
.dataLabel{
   text-align: left;
   padding-right: 50px;
   
   color:rgba(255, 255, 255, 0.812);
    font-size: 1rem;
    

}
#name{
      padding-right: 220px;
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.74);
      font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
      
}
#email{
      padding-right: 190px;
        font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.74);
      font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}
#username{
      padding-right: 160px;
        font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.74);
      font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}
.dataInput{
    width: 300px;
    height: 25px;
    border: 0.5px solid rgba(250, 250, 250, 0.675);
    border-radius: 7px;
    background-color: rgba(48, 50, 86, 0.637);
    padding: 5px;
    margin: 12px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 1rem;
}
.genBtn{
    margin-top: 10px;
    width: 310px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    background-color:rgb(255, 91, 32);
    font-weight: bold;
    border:none;
    cursor: pointer;
    
}
.genBtn:hover{
    background-color: hsl(18, 100%, 64%);
}
.uploadImg{
    color: aliceblue;
    

}
.avatarBox{
    width: 300px;
    height: 100px;
    border: 2px dotted rgba(250, 250, 250, 0.675);
    border-radius: 7px;
    background-color: rgba(48, 50, 86, 0.637);
    padding: 5px;
    margin: 12px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 1rem;
     margin: 0 auto;
     img{
        margin-top: 5px;
        height: 50px;
        width: 50px;
     }
       cursor: pointer;
       

}
input[type="file"]{
    display: none;
}
.imgInfo{
      color: rgba(255, 255, 255, 0.74);
    font-size: 0.9rem;
}
h4{
    color: rgba(255, 255, 255, 0.921);
    font-size: 1rem;
    padding-right: 200px;
     font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}